<!-- <ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons collapse="true" slot="start" (click)="goBack()">

      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title *ngIf="comic"> {{ comic.title }}</ion-title>
  </ion-toolbar>
</ion-header> -->
<tv-marvel-header [hasGoBack]="true" [headerTitle]="comic?.title" (goBackButton)="goBack()" ></tv-marvel-header>
<ion-content>

  <div *ngIf="loading" class="container-loading">
    <ion-spinner></ion-spinner>
  </div>

  <div class="character">
    <tv-show-details [item]="comic" ></tv-show-details>
  </div>

    

    <!-- <div class="character" *ngIf="comic">
      <img src="{{ comic.thumbnail.path + '.' + comic.thumbnail.extension }}" />
    
        <ion-card-header>
          DESCRIPTION
        </ion-card-header>
      
        <ion-card-content>
          {{ (comic.description ? comic.description : 'NO DESCRIPTION AVAILABLE') }}
          <p>
            <b>Format:</b> {{ comic.format }} | 
            <b>Issue No.:</b> {{ comic.issueNumber }}
          </p>
    
          <p>
            {{ comic.description }}
          </p>
        </ion-card-content>
    </div> -->

    <div *ngIf="!comic && !loading">
      comic not found<br />      
    </div>
</ion-content>

